.img {
    max-width: 70%;

}

html {
    background-color: rgb(214, 93, 93);
}

.carousel {
    background-color: rgb(94, 14, 14);
    justify-items: center;
    padding-left: 340px;
}

h1 {
    background-color: rgb(187, 78, 78);
    color: black;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}