.img {
    max-width: 70%;

}

html {
    background-color: rgb(107, 10, 10);
}

.carousel {
    background-color: rgb(94, 14, 14);
    justify-items: center;
    padding-left: 340px;
}

.nav {
    background-color: rgb(190, 188, 188);
    max-width: 6%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background-color: rgb(187, 78, 78);
    color: black;
    text-align: center;
    font-size: 60px;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
}